@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap');
$lightBg: "https://i.ibb.co/t2ghNcR/light-wood.jpg";
$darkBg: "https://i.ibb.co/HK4jNK4/dark-wood.jpg";
$textColor: #aa7049;



body {
    background-image: url($darkBg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Mochiy Pop P One', sans-serif;
    padding-left: 1rem;

    .pd-form-wrapper {
        height: 100vh;
        justify-content: center;
        align-items: center;
        display: flex;

        &__input-wrapper {
            margin: 2rem 0;
        }


        form {
            position: relative;

            span {
                position: absolute;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                background: radial-gradient(10% 10% at 50% 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0)), radial-gradient(12% 12% at 60% 25%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0)), radial-gradient(100% 100% at 60% 50%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.25) 50%);
                left: 10px;
                box-shadow: inset -5px -8px 17px -8px rgb(255 255 255 / 21%), inset -7px -20px 28px -20px #003ebad1;
                transition: 0.5s;
                z-index: 9;
                overflow: hidden;

                &::before {
                    content: "";
                    width: 100%;
                    background: radial-gradient(#00000000, #08349e87);
                    position: absolute;
                    height: 100%;
                }
            }

            label {
                width: 100%;
                color: $textColor;
                font-size: 2rem;
                position: relative;
                padding-left: 70px;
                cursor: pointer;

                &::before {
                    content: "";
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    background: radial-gradient(#3131313d, #00000066 47%);
                    left: 0;
                    top: 0;
                    box-shadow: inset -5px -8px 17px -8px #ffffff36;
                }


            }

            input[type="radio"] {
                -webkit-appearance: none;

                &:nth-child(1) {
                    &:checked~span {
                        transform: translateY(33px);
                        animation:  moveBall  0.5s linear forwards;
                    }
                }

                &:nth-child(2) {
                    &:checked~span {
                        transform: translateY(106px);
                        animation: moveBall2  0.5s linear forwards;
                    }
                }

                &:nth-child(3) {
                    &:checked~span {
                        transform: translateY(178px);
                        animation: moveBall3  0.5s linear forwards;
                    }
                }
            }


        }
    }
}

@keyframes moveBall {
    0% {
        transform: translateY(33px) scale(1);
    }

    25% {
        transform: translateY(33px) scale(1.33);

    }

    50% {
        transform: translateY(38px) scale(1);

    }

    67% {
        transform: translateY(30px) scale(1);

    }

    83% {
        transform: translateY(33px) scale(1);

    }
}

@keyframes moveBall2 {
    0% {
        transform: translateY(33px) scale(1);
    }

    25% {
        transform: translateY(33px) scale(1.33);

    }

    50% {
        transform: translateY(118px) scale(1);

    }

    67% {
        transform: translateY(103px) scale(1);

    }

    83% {
        transform: translateY(106px) scale(1);

    }
}

@keyframes moveBall3 {
    0% {
        transform: translateY(106px) scale(1);
    }

    25% {
        transform: translateY(106px) scale(1.33);

    }

    50% {
        transform: translateY(182px) scale(1);

    }

    67% {
        transform: translateY(170px) scale(1);

    }

    83% {
        transform: translateY(178px) scale(1);

    }
}