@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap");
body {
  background-image: url("https://i.ibb.co/HK4jNK4/dark-wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Mochiy Pop P One", sans-serif;
  padding-left: 1rem;
}
body .pd-form-wrapper {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
body .pd-form-wrapper__input-wrapper {
  margin: 2rem 0;
}
body .pd-form-wrapper form {
  position: relative;
}
body .pd-form-wrapper form span {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: radial-gradient(10% 10% at 50% 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0)), radial-gradient(12% 12% at 60% 25%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0)), radial-gradient(100% 100% at 60% 50%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.25) 50%);
  left: 10px;
  box-shadow: inset -5px -8px 17px -8px rgba(255, 255, 255, 0.21), inset -7px -20px 28px -20px rgba(0, 62, 186, 0.8196078431);
  transition: 0.5s;
  z-index: 9;
  overflow: hidden;
}
body .pd-form-wrapper form span::before {
  content: "";
  width: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(8, 52, 158, 0.5294117647));
  position: absolute;
  height: 100%;
}
body .pd-form-wrapper form label {
  width: 100%;
  color: #aa7049;
  font-size: 2rem;
  position: relative;
  padding-left: 70px;
  cursor: pointer;
}
body .pd-form-wrapper form label::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: radial-gradient(rgba(49, 49, 49, 0.2392156863), rgba(0, 0, 0, 0.4) 47%);
  left: 0;
  top: 0;
  box-shadow: inset -5px -8px 17px -8px rgba(255, 255, 255, 0.2117647059);
}
body .pd-form-wrapper form input[type=radio] {
  -webkit-appearance: none;
}
body .pd-form-wrapper form input[type=radio]:nth-child(1):checked ~ span {
  transform: translateY(33px);
  -webkit-animation: moveBall 0.5s linear forwards;
          animation: moveBall 0.5s linear forwards;
}
body .pd-form-wrapper form input[type=radio]:nth-child(2):checked ~ span {
  transform: translateY(106px);
  -webkit-animation: moveBall2 0.5s linear forwards;
          animation: moveBall2 0.5s linear forwards;
}
body .pd-form-wrapper form input[type=radio]:nth-child(3):checked ~ span {
  transform: translateY(178px);
  -webkit-animation: moveBall3 0.5s linear forwards;
          animation: moveBall3 0.5s linear forwards;
}

@-webkit-keyframes moveBall {
  0% {
    transform: translateY(33px) scale(1);
  }
  25% {
    transform: translateY(33px) scale(1.33);
  }
  50% {
    transform: translateY(38px) scale(1);
  }
  67% {
    transform: translateY(30px) scale(1);
  }
  83% {
    transform: translateY(33px) scale(1);
  }
}

@keyframes moveBall {
  0% {
    transform: translateY(33px) scale(1);
  }
  25% {
    transform: translateY(33px) scale(1.33);
  }
  50% {
    transform: translateY(38px) scale(1);
  }
  67% {
    transform: translateY(30px) scale(1);
  }
  83% {
    transform: translateY(33px) scale(1);
  }
}
@-webkit-keyframes moveBall2 {
  0% {
    transform: translateY(33px) scale(1);
  }
  25% {
    transform: translateY(33px) scale(1.33);
  }
  50% {
    transform: translateY(118px) scale(1);
  }
  67% {
    transform: translateY(103px) scale(1);
  }
  83% {
    transform: translateY(106px) scale(1);
  }
}
@keyframes moveBall2 {
  0% {
    transform: translateY(33px) scale(1);
  }
  25% {
    transform: translateY(33px) scale(1.33);
  }
  50% {
    transform: translateY(118px) scale(1);
  }
  67% {
    transform: translateY(103px) scale(1);
  }
  83% {
    transform: translateY(106px) scale(1);
  }
}
@-webkit-keyframes moveBall3 {
  0% {
    transform: translateY(106px) scale(1);
  }
  25% {
    transform: translateY(106px) scale(1.33);
  }
  50% {
    transform: translateY(182px) scale(1);
  }
  67% {
    transform: translateY(170px) scale(1);
  }
  83% {
    transform: translateY(178px) scale(1);
  }
}
@keyframes moveBall3 {
  0% {
    transform: translateY(106px) scale(1);
  }
  25% {
    transform: translateY(106px) scale(1.33);
  }
  50% {
    transform: translateY(182px) scale(1);
  }
  67% {
    transform: translateY(170px) scale(1);
  }
  83% {
    transform: translateY(178px) scale(1);
  }
}/*# sourceMappingURL=style.css.map */