$lightBg: "https://i.ibb.co/t2ghNcR/light-wood.jpg";
$darkBg: "https://i.ibb.co/HK4jNK4/dark-wood.jpg";
$textColor: #ffffff;

body {
    background-image: url($darkBg);
    background-repeat: no-repeat;
    background-size: cover;

    .pd-form-wrapper {
        height: 100vh;
        justify-content: center;
        align-items: center;
        display: flex;

        &__input-wrapper {
            margin: 2rem 0;
        }


        form {
            label {
                color: $textColor;
                font-size: 2rem;
                position: relative;
                padding-left: 70px;
                &::before{
                    content: "";
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    background: radial-gradient(#3131313d, #00000066 47% );
                    left: 0;
                    top: 0;
                    box-shadow: inset -5px -8px 17px -8px #ffffff36;
                }


            }

            input[type="radio"] {
                -webkit-appearance: none;

                &:checked{
                    position: relative;
                   &+label{
                        &:after{
                            content: "";
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            border-radius: 100%;
                            background: radial-gradient(#3131313d, red 47% );
                            left: 10px;
                            top: 10px;
                            box-shadow: inset -5px -8px 17px -8px #ffffff36;
                            transition: 0.5s;
                        }
                    }
                }
            }


        }
    }
}